.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  padding: 1rem;
  border-top: 1px solid #e7e7e7;
}

.contact, .links {
  display: flex;
  flex-direction: column;
}

.contact p, .links a {
  margin: 0.5rem 0;
}

.links a {
  color: #00000080;
  text-decoration: none;
}

.links a:hover {
  text-decoration: none;
    color: #000000;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }
}