.headerButton {
  width: 150px;
  height: 60px;
  border: 3px solid #82ebba;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 1.0em;
  font-weight: 550;
  text-align: center;
}

.headerButton:hover {
  background: #03df78d8;
  color: white;
  font-size: 1.2em;
  text-align: center;
}

.header {
  background-color: #f7f7f7;
  padding: 1rem;
  border-bottom: 1px solid #e7e7e7;
}

.navlink {
  padding: 10px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.roleDropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  background-color: #a10000;
  color:#007bff;

}

.dropdownOptions {
  color:aquamarine;
  border-radius: 100px;
  background-color: #a10000;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.logo img {
  margin-right: 0.5rem;
  width: 50px;
  height: 50px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
}